@tailwind base;
@tailwind components;
@tailwind utilities;

@import "css/slick.css";
@import "css/slick-theme.css";

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  @apply text-5xl font-bold;
}

h2,
.h2 {
  @apply text-4xl font-bold;
}

.bg {
  @apply bg-cover bg-center;
}

p {
  @apply mb-6;
  &:last-child {
    @apply mb-0;
  }
  a {
    @apply text-main transition-colors hover:text-main-dark;
  }
}
